/*Global*/
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  max-width: auto;
  background-color: #9CC0BC;
  margin: auto;
  font-family: 'Oxygen', sans-serif;
  line-height: 2.5em;
}

.main {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

h1 {
  font-size: 60px;
}

/*header*/
header {
  height: 20%;
  width: 100%;
  color: #58B5CC;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
}

.menu ul a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.menu li {
  display: inline-flex;
  font-size: 20px;
  justify-content: space-between;
  margin-right: 10px;
}

/*body*/
#home {
  background: url("/img/space.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  color: white;
}

#home p {
  padding: 10em 1em 0 1em;
  font-size: 24px;
}

#about {
  width: 100%;
  height: 75vh;
  background-color: #C0C0C0;
}

#about p {
  padding: 9em 1em 0 1em;
}

#services {
  background: url("/img/tablet.jpg") no-repeat center/cover;
  width: 100%;
  height: 75vh;
  color: white;
}

#services p {
  padding: 9em 1em 0 1em;
}

#contact {
  width: 100%;
  height: 75vh;
  background-color: #C0C0C0;
}

#contact p {
  padding: 9em 1em 0 1em;
}

.footerList {
  width: 100%;
  height: 33vh;
  background-color: black;
  color: white;
}

.footerList p {
  padding: 1em 1em 0 1em;
}

/*FOOTER*/
footer {
  text-align: center;
  height: 10px;
  font-size: 15px;
}